{% extends "layout.html" %}
{% block content %}
<div class="py-5 text-center">
  <div class="container">
    <div class="row">
      <div class="mx-auto col-md-6 col-10 bg-white p-5">
        <h1 class="mb-4">Change document information</h1>
        <form method="POST">
          <dl>
            <div style="display: none;" class="form-group">{{ form.context(value=context) }}</div>
            <div class="form-group">{{ form.file_name(value=f_val) }}</div>
            <div class="form-group">{{ form.path(value=p_val) }}</div>
            <div class="form-group">{{ form.size(value=s_val) }}</div>
          </dl>
          <p><input type="submit" class="btn btn-primary" value="update">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}