{% extends "extends/layout.html" %}
{% block content %}
{% if documents|length <= 0 %}
<div class="py-5 align-items-center d-flex">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-8 px-md-5">
        <h1 class="display-3 mb-4">No documents ...</h1>
        <p class="lead mb-4">There were no documents added to the collection. Start printing documents or add scan
          documents and the collection will be extended.</p>
        <a href="{{ url_for('presentation.help') }}" class="btn btn-lg btn-primary">Help</a>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="py-4 bg-light">
  <div class="container">
    <div class="row">
      {% for doc in documents %}
      {% include "includes/doc_card.html" %}
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
{% include "includes/del_modal.html" %}
{% endblock %}